nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    gap: 5px;
    border: 1px solid black;
  }
  
  nav a {
    display: inline-block;
    
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid black 1px;
    text-align: center;
    text-decoration: none;
    color: #aaa;
  }
  main {
    height: 100vh;
  }