nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0,5rem;
    gap: 0.5rem;
    border-bottom: 3px solid black;
    background-color: rgb(145, 128, 128);
  }
  
  nav a {
    display: inline-block;
    min-width: 9rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: solid 1px #aaa;
    text-align: center;
    text-decoration: none;
    color: #555;
  }
  body{
    background-color: blue;
  }

  main{

  }

  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }